extends layout

block content
  h1= title
  hr
  br
  form(method='post' action='/save_list')
    input(type='text' name='no' placeholder='NO' required)
    br
    input(type='text' name='nama' placeholder='NAMA' required)
    br
    input(type='text' name='jurusan' placeholder='JURUSAN' required)
    br
    input(type='number' name='umur' placeholder='UMUR' required)
    br
    br
    button(type='submit') SAVE
